
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> PERCEPTIONS </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
            <img src="/assets/brightness.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }" alt="Brightness Icon">
            You see a glitter; the gold is near.
        </li>
        <li>
          <img src="/assets/breeze.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }"  > You feel a breeze; a pit is near.
        </li>
        <li>
          <img src="/assets/stench.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }"  > You smell a stench; the wumpus is near.
        </li>
      </ul>
      
    
     
     
    </mat-card-content>
  </mat-card>
