body, html {
  margin: 0;
  padding: 0;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: auto;
  background-color: #B43910;
  table-layout: fixed;
  width: 200px;
  top: 10px;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
  background-image: url('/assets/cave2.jpg'); //Fondo de cueva
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 0;
  max-width: none;
  max-height: none;
 
}

.table-container {
  width: 680px;
  height: 680px;
  
}

.imgCellPlayer{
  background-color: #B43910 ;
  padding: 1px;
  height: 30px;
  width: 30px;
}

.imgCell {
  background-color: #B43910;
  padding: 1px;
  width: 30px;
  
  
}

table td {
  border: 1px solid #4B1900;
  text-align: left;
  padding: 2px;
  z-index: 1;
  position: relative;
}

.btn-custom-primary {
  margin-top: 10px;
  color: #fff;
  background-color: #4B1900; /* Color primario personalizado */
  border-color: #B43910; /* Color del borde personalizado */
}

.btn-custom-primary:hover {
  background-color: #5E35B1; /* Cambio de color al pasar el ratón sobre el botón */
  border-color: #5E35B1;
}

.smallContainer {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.btn-custom-primary {
  
  margin-right: 10px; 
}

.arrowInformation {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

p{
  margin-bottom: 0px;
}