<app-nav-bar></app-nav-bar>
<div class="container">

  <!-- Contenedor de reinicio e información-->
  <div class="flex-container">
    <div *ngIf="showMessageGold" class="alert alert-warning" role="alert">
      You found the gold, now go back to the exit!
    </div>
    <div class="small-container">
      <button type="button" (click)="resetGame()" class="btn btn-custom-primary">Reset Game</button>
      <p class="arrow-information"><b>Arrows: {{arrowCount}} {{arrowInformation}}</b></p>
    </div>
  </div>
  
<!--Tablero de juego-->

  <div class="table-container">

    <table class="table" (keydown)="onKeyDown($event)" tabindex="0">
      <tr *ngFor="let row of matriz; let rowIndex = index">
        <td *ngFor="let cell of row; let colIndex = index">
          <div class="img-cell-player" *ngIf="cell.player">
            <img [src]="getPlayerImage()">
          </div>
          <div class="img-cell" *ngIf="cell.gold"></div>
          <div class="img-cell" *ngIf="cell.wumpus"></div>
          <div class="img-cell" *ngIf="cell.pit"></div>
          
          <div class="img-cell" *ngIf="cell.brightness">
            <img src="/assets/brightness.png">
          </div>
          <div class="img-cell" *ngIf="cell.breeze">
            <img src="/assets/breeze2.png">
          </div>
          <div class="img-cell" *ngIf="cell.stench  && !cell.wumpusEliminated">
            <img src="/assets/stench2.png">
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
