<app-nav-bar></app-nav-bar>
<div class="container" >
  


    <div class="table-container">
      <div *ngIf="showMessageGold" class="alert alert-warning" role="alert">
        You found the gold, now go back to the exit!
      </div>
      <table class="table" (keydown)="onKeyDown($event)" tabindex="0" style="width: 100%; height: 100%;">
        <tr *ngFor="let row of matriz; let rowIndex = index">
          <td *ngFor="let cell of row; let colIndex = index" [ngStyle]="{'width.px': 60, 'height.px': 60}">
            
            <div class="imgCellPlayer" *ngIf="cell.player">
              <img [src]="getPlayerImage()" [ngStyle]="{'width.px': 50, 'height.px': 50 }">
            </div>
            <div class="imgCell" *ngIf="cell.gold">  </div>
            <div class="imgCell" *ngIf="cell.wumpus"> </div>
            <div class="imgCell" *ngIf="cell.pit"> </div>
            <div class="imgCell" *ngIf="cell.brightness">
              <img src="/assets/brightness.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }"  > </div>
            <div class="imgCell" *ngIf="cell.breeze">
              <img src="/assets/breeze.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }"  ></div>
            <div class="imgCell" *ngIf="cell.stench">
              <img src="/assets/stench.png" [ngStyle]="{'width.px': 20, 'height.px': 20 }"  ></div>
          </td>
        </tr>
      </table>
    </div>
 
    
    

    
  </div>

