<app-nav-bar></app-nav-bar>
<div class="containerImage">
    <h1>Welcome to the world of Wumpus</h1>
  
    <h3>
      <strong>Objetive:</strong> Find the gold and get back to the starting point
      as quickly as possible (alive, of course).
    </h3>
  
    <div class="card">
      <div class="card-body">
        <p><strong>Customize your game:</strong></p>
  
        <form [formGroup]="formGroup">
  
          <div class="mb-2">
            <label for="boardSize"> Grid Size: </label>
            <input
              formControlName="boardSize"
              type="number"
              id="boardSize"
              name="boardSize"
              placeholder="4,5,6...10"
              class="form-control"
            />
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="
              formGroup.get('boardSize')?.errors &&
              formGroup.get('boardSize')?.dirty
            "
          >
            <p *ngIf="formGroup.get('boardSize')?.hasError('required')">
              Field is required
            </p>
            <p *ngIf="formGroup.get('boardSize')?.hasError('pattern')">
              Only positive numbers are allowed.
            </p>
            <p *ngIf="formGroup.get('boardSize')?.hasError('max')">
              Grid Size minimum  4 - maximun 10
            </p>
            <p *ngIf="formGroup.get('boardSize')?.hasError('min')">
              Grid Size minimum  4 - maximun 10
            </p>
          </div>
  
          <div class="mb-2">
            <label for="numberOfPits">Number of pits:</label>
            <input
              formControlName="numberOfPits"
              type="number"
              id="numberOfPits"
              name="numberOfPits"
              placeholder="2,3,4..."
              class="form-control"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              formGroup.get('numberOfPits')?.errors &&
              formGroup.get('numberOfPits')?.dirty
            "
          >
            <p *ngIf="formGroup.get('numberOfPits')?.hasError('required')">
              Field is required
            </p>
            <p *ngIf="formGroup.get('numberOfPits')?.hasError('pattern')">
              Only positive numbers are allowed. Holes may not exceed 80% of the grid size.
            </p>
            <p *ngIf="formGroup.get('numberOfPits')?.hasError('min')">
              Minimum pits 3.
            </p>
            <!--Holes may not exceed 80% of the grid size-->
            <p *ngIf="formGroup.dirty && formGroup.hasError('pitsError')">
              {{ formGroup.getError('pitsError') }}
            </p>
            
            
  
          </div>
        </form>
  
        <button type="submit" class="playbutton"
        [routerLink]="['/gameboard']" routerLinkActive="router-link-active" 
          mat-raised-button
          color="primary"
          (click)="onPlayClick()"
          [disabled]="!formGroup.valid">
          PLAY
        </button>
      </div>
    </div>
  
    

  </div>
  
